packages:
  yum:
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    cups-libs: []
    libdrm: []
    libxkbcommon: []
    libXrandr: []
    mesa-libgbm: []
    pango: []
    alsa-lib: []
    nss: []
    atk: []
    at-spi2-atk: []
    gtk3: []
